html(lang="en") 
	head 
		meta(lang="utf-8")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		meta(name="theme-color" content="#aaaaaa")

		link(rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96")
		link(rel="icon" type="image/svg+xml" href="/favicon/favicon.svg")
		link(rel="shortcut icon" href="/favicon/favicon.ico")
		link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png")
		meta(name="apple-mobile-web-app-title" content="Ashoka VHC")
		link(rel="manifest" href="/favicon/site.webmanifest")

		title!=title
		meta(name="author" content="Ashoka University")
		meta(name="description" content="Ashoka visual health computing systems dashboard")

		block stylesheets
			link(rel="stylesheet" href="/stylesheets/reset.css")
			link(rel="stylesheet" href="/stylesheets/fonts.css")
			link(rel="stylesheet" href="/stylesheets/main.css")
			link(rel="stylesheet" href="/stylesheets/flexbox.css")
			link(rel="stylesheet" href="/stylesheets/layout.css")
			link(rel="stylesheet" href="/stylesheets/forms.css")

		block scripts
			script(type="text/javascript" src="/javascripts/hotkeys.min.js")
			script(type="text/javascript" src="/javascripts/layout.js", defer)
			script(type="text/javascript" src="/javascripts/forms.js", defer)

			if jump
				script.
					window.onload = window.location.hash = "#{jump}";

	body: #Page
		#Sidebar.Flexbox.mCol.mStdSpacing
			if flash && flash.message
				#Flash(data-type=flash.message.type).Box.mSolid.mOutline.mGreen
					h2 Flash Msg.
					p=flash.message.msg

			.Flexbox.mCol.mCmpSpacing
				if user
					#Auth.Box.Flexbox.mCol.mMinSpacing
						.lLabel: b User:

						.Flexbox.mSpaceBtwn.mVertCenter
							#Username #[b ID:] #[a(href="/user", title="User management panel")=user.username]

							form(action=`/logout?next=${url}`, method="post")
								button(type="submit", title=`Terminate session for user: ${user.username}`) Log Out

						if ["admin", "senior"].some(role => user.roles.includes(role))
							.Flexbox.mMinSpacing.mVertCenter
								b Admin:
								.Divider

							nav#AdminPanels.Flexbox.mCol.mMinSpacing: ul
								li: a(href="/admin/user-depot", title="Manage incoming user requests") User Depot

				#SiteSettings.Box.Flexbox.mMinSpacing.mVertCenter
					.lLabel: b Interface:

					#Zoom 
						b Font Size: 
						| #[button(onclick="zoom('out');", title=`Zoom out\nShortcut: [ctrl+=]`).mTiny -]
						| #[span#fontSize 12px]
						| #[button(onclick="zoom('in');", title=`Zoom in\nShortcut: [ctrl+-]`).mTiny +]

		#Main.Flexbox.mCol.mStdSpacing
			nav#Navigation.iAlignLeft.Box.Flexbox.mCmpSpacing
				.lLabel: b Navigation:

				a(href="/").link.Flexbox.mCol.mMinSpacing.mHorzCenter
					img(src="/icons/home.svg", alt="Home", width=50)
					u Home
				
				a(href="/ranker").link.Flexbox.mCol.mMinSpacing.mHorzCenter
					img(src="/icons/ranking.svg", alt="Ranker", width=50)
					u LLM Ranker

				unless user
					.authLinks.Flexbox.mMinSpacing
						img(src="/icons/user.svg", alt="User", width=80).iAlignBtm
						
						div
							h2 User Account
						
							ul
								li: a.login(href="/login") Log In
								li: a.login(href="/register") Register

			main#Content.Flexbox.mCol.mStdSpacing.iAlignLeft: block content

		footer#Footer.Flexbox.mSpaceBtwn
			.Hero.Flexbox.mCmpSpacing.iAlignCenter
				img(src="/images/ashoka.png", alt="Ashoka Logo", style="width: 150px").iAlignCenter
				#KCDH.Flexbox.mVertCenter: p: b Koita Center #[br] for Digital Health
				
			//- TODO: add links
			.Flexbox.mStdSpacing
				#Resources 
					h2 Resources

					ul 
						li: a(href="https://github.com/Positron11/vhc-dash/blob/main/docs/user.md", target="_blank") User Documentation
						li: a(href="https://github.com/Positron11/vhc-dash", target="_blank") Website Source
				
				#QuickLinks
					h2 Quick Links 

					ul 
						li: a(href="/register") Registration Request
